/* ↓ LINKS */
a {
	color: black;
}

.nav-tabs>li>a {
	font-family: Cooper Std, Arial;
	margin-right:0px;
	background-color:#f8f8f8;
	font-weight: normal;
}

.nav-tabs>li>a.active {
	color:#c44444;
	background-color: white;
}

.nav-tabs>li>a:hover {
	color: maroon;
}

.nav-item {
	border: outset;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: transparent;
}

li > a {
	color: firebrick;
	font-weight: bold;
}

p > a {
	color: firebrick;
	font-weight: bold;
	/*color: #c44444;*/
}
/* ↓ Trying to make a better hover situation for inside my pages, but I can't get it to work.
p > ul > li > a:hover {
	color: red;
	text-decoration: none;

}

/* ↓ HEADINGS */

h1 {
	font-weight: normal;
	font-family: Cooper Std, Impact, "Arial Black", Corbel;
}

h2 {
	font-weight: bold;
}

  /* ↓ Indentation of Headings */

div.col-md-6 > h2 {
	margin-left: 20px;
}

div.col-md-6 > h3 {
	margin-left: 40px;
}

div.col-md-6 > ul {
	margin-left: 50px;
}

/* ↓ IMAGES */

img {
	margin-left: auto;
	margin-right: auto;
	padding:5px;
}

p > img {
	padding: 0px;
}

li > img {
	padding: 0px;	
}

/* ↓ OTHER */

div.content {
	margin: 50px;
}

#emph {
	/*font-weight: bold;*/
	color: firebrick;
}

.container {
	margin-top:20px;
}
