/* ↓ LINKS */
a {
	color: black;
}

.nav-tabs>li>a {
	font-family: Cooper Std, Arial;
	margin-right:0px;
	background-color:#f8f8f8;
}

.nav-tabs>li>a.active {
	color:#c44444;
	background-color: white;
}

.nav-tabs>li>a:hover {
	color: maroon;
}

.nav-item {
	border: outset;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: transparent;
}

a:hover {
	color: firebrick;
	text-decoration: none;
}

/* keeps arrows from being blue and underlined, or staying firebrick after you exit them*/
a:focus {
	color: black;
	text-decoration: none;
}

li > a.DDarrow {
	color: black;
}

li > a {
	color: firebrick;
	font-weight: bold;
}

li > a:hover {
	color: red;
	text-decoration: none;
}


p > a {
	color: firebrick;
	font-weight: bold;
	/*color: #c44444;*/
}

p > a:hover {
	color: red;
	text-decoration: none;
}

/* ↓ HEADINGS */

h1 {
	font-weight: normal;
	font-family: Cooper Std, Corbel;
}

h2 {
	font-weight: bold;
}

  /* ↓ Indentation of Headings */

div[class^="col-md-"] > h2 {
	margin-left: 15px;
	margin-top: 15px;
}

	div[class^="col-md-"] > div.collapse > h2 {
		margin-left: 15px;
		margin-top: 15px;
	}

		div[class^="col-md-"] > div.collapse > div.collapse > h2 {
			margin-left: 15px;
			margin-top: 15px;
		}


div[class^="col-md-"] > h3 {
	margin-left: 30px;
	margin-top: 10px;
}

	div[class^="col-md-"] > div.collapse > h3 {
		margin-left: 30px;
		margin-top: 10px;
	}

		div[class^="col-md-"] > div.collapse > div.collapse > h3 {
			margin-left: 30px;
			margin-top: 10px;
		}

div[class^="col-md-"] > h4 {
	margin-left: 45px;
	margin-top: 10px;
}

	div[class^="col-md-"] > div.collapse > h4 {
		margin-left: 45px;
		margin-top: 10px;
	}

		div[class^="col-md-"] > div.collapse > div.collapse > h4 {
			margin-left: 45px;
			margin-top: 10px;
		}

div[class^="col-md-"] > ul {
	margin-left: 20px;
}

	div[class^="col-md-"] > div.collapse > ul {
		margin-left: 20px;
	}

		div[class^="col-md-"] > div.collapse > div.collapse > ul {
			margin-left: 20px;
		}

			div[class^="col-md-"] > div.collapse > div.collapse > div.collapse > ul {
				margin-left: 35px;
			}




/* ↓ FOOTER */
footer {
	margin: 20px;
	padding: 10px;
	background-color: #e2b9b9;
	text-align: center;
}

footer > a {
	color: firebrick;
	font-weight: bold;
}

/* ↓ OTHER */
img {
	margin-left: auto;
	margin-right: auto;
	padding:5px;
}


div.content {
	margin: 50px;
}


#emph {
	/*font-weight: bold;*/
	color: firebrick;
}

.container {
	margin-top:20px;
}